body {
  padding: 0;
  margin: 0;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
#nprogress .spinner-icon {
  border-top-color: #dc3545 !important;
  border-left-color: #dc3545 !important;
}

#nprogress .bar {
  background: #dc3545 !important;
  z-index: 9999 !important;
}

/* Fancy blur effect */
#nprogress .peg {
  box-shadow: 0 0 10px #dc3545, 0 0 5px #dc3545 !important;
}
#nprogress .spinner {
  z-index: 9999 !important;
}
